@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <p>
                Nós da (NOME DA EMPRESA) nos preocupamos muito além do bem-estar do cliente, nos preocupamos com a mudança de
                pensamento da sociedade.
            </p>
            <p>
                A empresa foi desenvolvida por Luís Eduardo Gouvea e Felipe Fahrion com o objetivo de mostrar um novo lado do grande mundo
                chama Ecommerce. Por isso, ao longo dos anos, através de vários índices, foi desenvolvido a ideia de que após 60 dias,
                o produto anunciado pelo cliente que não foi vendido, é sugerido que ele seja doado para instituições.
                Talvez, essa ideia possa se desenvolver cada vez mais com seu apoio. Então, deixe-nos aajudar você e você ajuda outras
                pessoas.
            </p>
        </div>
    </div>
</div>

