@model IEnumerable<DesgrudaCoisa.Models.Anuncio>
@{
    ViewBag.Title = "Página Inicial";
}
<link href="~/SiteView/CSS/HomeListAnuncio.css" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <div class="container text-center">
        <h1>Loja Desgruda Algo</h1>
        <p>Ajude e se ajude</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Anúncios adicionados recentemente</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <div class="options-cart-round">
                            <button class="btn btn-default" title="Add to cart">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </div>
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                                </p>
                                <h1>@Html.DisplayFor(modelItem => item.TituloAnuncio)</h1>
                                <span class="price-new">R$@Html.DisplayFor(modelItem => item.Valor)</span>
                            </div>
                        </div>
                    </div>
                </article>
                @Html.ActionLink("Entrar no anuncio", "Details", "Anuncio", new { id = item.ID }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>