@*Lista de anucios com aquele nome e preço menor ou igual 

Mostrar os anunsios como o Luis tinha colocado no início*@ 
<div class="container">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
</div>