<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Filtrar pesquisa</legend>

        <!-- Pesquisa por nome -->
        <div class="form-group">
            <label class="col-md-4 control-label">Produto</label>
            <div class="col-md-4">
                <input id="name" name="produto" type="text" placeholder="Nome do produto" class="form-control input-md" required="">

            </div>
        </div>
        <!-- pesquisa por Preço -->
        <div class="form-group">
            <label class="col-md-4 control-label">Preço</label>
            <div class="col-md-4">
                <input id="vorname" name="preco" type="number" placeholder="Preço do produto" class="form-control input-md" required="">

            </div>
        </div>
        <!-- tentar a pesquisa num DropDown -->
        @*<div class="form-group">
            <label class="col-md-4 control-label" for="gebdatum">Geburtsdatum</label>
            <div class="col-md-4">
                <input id="gebdatum" name="gebdatum" type="text" placeholder="geburtsdatum" class="form-control input-md" required="">

            </div>
        </div>*@
        
        <!-- Botão (Search) -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                @Html.ActionLink("Pesquisar", "Filtro", "Anuncio", new { @class = "btn btn-warning" })
            </div>
        </div>
    </fieldset>
</form>
