@model DesgrudaCoisa.Models.Anuncio
@{
    ViewBag.Title = "Filtrar pesquisa";
}

@using (Html.BeginForm("Filtro", "Anuncio", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <h2>@ViewBag.Title</h2>
        <div class="form-group">
            <label class="col-md-4 control-label">Produto</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TituloAnuncio, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.TituloAnuncio, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Preço</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*@Html.ActionLink("Pesquisar", "Pesquisar", "Anuncio", null, new { @class = "btn btn-success" })*@
                <input type="submit" value="Pesquisar" class="btn btn-warning" />
            </div>
        </div>
        
    </div>
}
