@model IEnumerable<DesgrudaCoisa.Models.Anuncio>

@{
    ViewBag.Title = "Notificações";
}

<h2>Notificações</h2>
<table class="table table-striped table-hover">
    <tr>
        <th>
            Descrição da Mensagem
        </th>
        <th>
            Ações
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @if(item.Status.Descricao == "Em negociacao") { 
                    @Html.ActionLink("Fechar Negócio", "Edit", new { id = item.AnuncioID }, new { @class = "label label-warning" })
                    @Html.ActionLink("Desistir da venda", "Details", new { id = item.AnuncioID }, new { @class = "label label-info" })
                }
                else
                {
                    @Html.ActionLink("Avaliar Produto", "Details", new { id = item.AnuncioID }, new { @class = "label label-info" })
                }
            </td>
        </tr>
    }

</table>