@model IEnumerable<DesgrudaCoisa.Models.Anuncio>

@{
    ViewBag.Title = "Listagem dos Meus Anuncios";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Aqui será a tela onde sera listados todos os anuncios que um determinado usuario criou</h1>
            <h2>TODO: A listagem dessa tela deverá ser diferente da listagem dos anúncios (como pesquisa)</h2>
        </div>
    </div>
</div>
