@model DesgrudaCoisa.Models.Anuncio

@using (Html.BeginForm("Filtro", "Anuncio", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div>            
                @Html.HiddenFor(pesquisaProds => Model.TituloAnuncio)
            
            <span class="badge">@ViewBag.pesquisaProds</span>

        </div>

    </div>
}