@model DesgrudaCoisa.Models.Anuncio

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pesquisar</title>
</head>
<body>
    <div> 
        <span class="badge">@ViewBag.pesquisaProds</span>     
        
    </div>
</body>
</html>
